main{
  margin-top: 2em;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.8); */
  margin-bottom: 5em;

}

td{
  color: white;
}

table{
  /* border: 1px solid #EFC9A4; */
  /* border: 1px solid #1DDECB; */
}


th{
  background-color: #334E68;
  text-align: center;
  vertical-align: middle;
  color:White;
  /* border: 1px solid #1DDECB; */

}

body{
  color: white;
}
h2,h3{
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
  color:white;
}
table{
  margin-top: 1em;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

#odjavaButton{
  padding: 1em;
}

h1{
  color: white;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

img{
  height:"100px";
  width:"100";
  margin: auto;
  margin-bottom:  30px;
}

#content{
  width:100%;
  text-align: center;
}

#information{

  margin-left: 1em !important;
  margin-bottom: 3em;
}

.card.card-body.m-lg-4 {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #252a34;
  color:white;
  border: white;
}

.card.card-body{
  /* border-color: #EFC9A4; */
  border-color: #1DDECB;
}

.card.card-body.col-lg-3{
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #252a34;
  color:white;
}

.card.card-body.col-lg-8 {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #252a34;
  margin-left: 2em;
  color:white;
}
.card-title{
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
  font-size: x-large;

}

.waves-light{
  color:black;
}

.waves-light:hover{
  /* color:white; */
}


#lozinka{
  /* margin-left:  30em !important; */
  max-width: fit-content;


}
#brojTelefona{

      /* margin-left:  30em !important; */
      max-width: fit-content;

  }
