<main>
  <div class="row" style="text-align: center;">
    <div class="col-lg-2">
  <a routerLink="/administracija" id="backLink"><fa-icon id="back" [icon]="faArrowCircleLeft"></fa-icon></a>
</div>
<div class="col-lg-12">
  <h2 style="text-align: center">Administracija Studenata</h2>
</div>
</div>
      <div class=" col-12 col-lg-12">
              <form>
                      <div class="form-group">
                          <div class="input-group justify-content-center">
                            <div class="align-self-center">
                              <input type="text"  class="form-control align-self-center" name="filterIme" placeholder="Unesi ime..." [(ngModel)]="filterIme">
                            </div>
                            <div class="align-self-center">
                              <input type="text" style="margin-right: 10px;" class="form-control align-self-center" name="filterPrezime" placeholder="Unesi prezime..." [(ngModel)]="filterPrezime">
                            </div>
                              <a><fa-icon id="lupa" [icon]="faSearch" (click)="getStudents()"></fa-icon> </a>
                          </div>
                      </div>
                  </form>
  <table class="table" style="table-layout: fixed">
      <!--Table head-->
      <thead class="blue-grey lighten-4">

        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>JMBG</th>
            <th>Address</th>
            <th>Broj Indexa</th>
            <th>Tekuci Racun</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor='let user of users' class= "col-12 col-lg-12">
        <tr >
            <td>{{user.username}}</td>
            <td>{{user.ime + " " + user.prezime}}</td>
            <td>{{user.jmbg}}</td>
            <td>{{user.adresa}}</td>
            <td>{{user.brojIndexa}}</td>
            <td>{{user.tekuciRacun}}</td>
            <td><button (click)="showUplate(user.id)" class="btn btn-primary" >Uplate</button><br><button (click)="showDokumenti(user.id)" class="btn btn-primary" >Dokumenti</button></td>
            <td><button (click)="editStudent(user); addModal.show();" id="izmeniDugme" class="btn btn-primary" >Izmeni</button><br><button (click)="deleteStudent(user.id, user.ime + ' ' + user.prezime); basicModal.show();" class="btn btn-danger" >Obrisi</button></td>
        </tr>
        <tr *ngIf="user.showUplate">
          <td colspan="8"><app-uplate-administracija class="card card-body" [userId]="user.id" [racunPrimaoca]="user.tekuciRacun"> </app-uplate-administracija></td>
      </tr>
      <tr *ngIf="user.showDokumenti">
          <td colspan="8"><app-dokument-administracija class="card card-body" [userId]="user.id"> </app-dokument-administracija></td>
      </tr>
    </tbody>
    <tbody>
          <tr *ngIf="users.length==0">
                  <td colspan="8" style="text-align: center">Trenutno nema studenata...</td>
          </tr>
    </tbody>
    <!--Table body-->
  </table>
  <button class="btn btn-primary" (click)="addStudent();addModal.show()" id="dodajbtn" > Dodaj studenta</button>
  </div>

  <div class="d-flex justify-content-center">
      <nav class="my-4 pt-2">
        <ul class="pagination pagination-circle pg-blue mb-0">
          <li class="page-item clearfix d-none d-md-block" (click)="changePage(1)" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link">Prva</a>
          </li>
          <li class="page-item" (click)="changePage(activePage-1)" [ngClass]="{disabled: activePage == 1}">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Prethodna</span>
            </a>
          </li>
          <li *ngFor="let page of pageCount; let i = index;" class="page-item" [ngClass]="{active: i+1 == activePage, disabled: i+1 == activePage}">
            <a class="page-link waves-light num" (click)="changePage(i+1)" mdbWavesEffect>{{i+1}}</a>
          </li>
          <li class="page-item" (click)="changePage(activePage+1)" [ngClass]="{disabled: activePage == pageCount.length}">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Sledeca</span>
            </a>
          </li>
          <li class="page-item clearfix d-none d-md-block" (click)="changePage(pageCount.length)" [ngClass]="{disabled: activePage == pageCount.length}">
            <a class="page-link">Poslednja</a>
          </li>

        </ul>
      </nav>
      <!--/Pagination -->
    </div>
    <footer>
      <div id="footerDiv">
          <span> Page size: <select class="selectpicker" [(ngModel)]="size" name="size" (change)="changePage(1)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
          </select>
      </span>
      </div>
    </footer>
  </main>
    <!--Bottom Table UI-->

  <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">Obrisi studenta {{deleteName}}?</h4>
              </div>
              <div class="modal-body">
                  Da li ste sigurni da zelite da obrisete {{deleteName}}?
              </div>
              <div class="modal-footer">
                  <button type="button"  aria-label="Close" (click)="basicModal.hide()" class="btn bg-red relative waves-light" mdbWavesEffect>Ne</button>
                  <button type="button" class="btn btn-primary waves-light" (click)="deleteConfirm();basicModal.hide()"  mdbWavesEffect>Da</button>
              </div>
          </div>
      </div>
    </div>

    <div mdbModal #addModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="addModal.hide(); form.reset()">
                          <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">{{isUpdate? "Izmena studenta" : "Dodavanje studenta"}}</h4>
                  </div>
                  <div class="modal-body">
                      <form #form="ngForm">
                          <input name="username" class="form-control" #username="ngModel" minlength="1" type="text" placeholder="Username" [(ngModel)]="currentUser.username" (input)="checkForUsername()" (change)="checkForUsername()">
                          <div *ngIf="username.touched && username.value.length<1" style="color: red">Username ne sme biti prazan</div>
                          <div *ngIf="username!=undefined && username.value!=null && username.value.length>=1 && !valid" style="color: red">Username is already taken.</div>
                          <input name="password" [hidden]="isUpdate" class="form-control" #password="ngModel" type="password" placeholder="Password" [(ngModel)]="currentUser.password">
                          <div *ngIf="password.touched && password.value.length<1" style="color: red">Lozinka ne sme biti prazna.</div>
                          <input  name="passwordRepeat" [hidden]="isUpdate" class="form-control" #passwordRepeatInput="ngModel" type="password" placeholder="Repeat Password" [(ngModel)]="passwordRepeat">
                          <div *ngIf="passwordRepeatInput.touched && password.touched && passwordRepeatInput.value!=null && password.value!=null && passwordRepeatInput.value!=password.value" style="color: red">Passwords don't match!</div>
                          <input pattern="^[a-zA-Z]+" name="ime" class="form-control" #firstName="ngModel" type="text" placeholder="First name" [(ngModel)]="currentUser.ime">
                          <div class="help-block" *ngIf="(isNumber(firstName.value) && firstName.touched) ||( firstName.touched && firstName.invalid)" style="color:red;">Ime mora sadrzati samo slova i ne sme biti prazno</div>
                          <input pattern="^[a-zA-Z]+" name="prezime" class="form-control" #lastName="ngModel" type="text" placeholder="Last name" [(ngModel)]="currentUser.prezime">
                          <div class="help-block" *ngIf="(isNumber(lastName.value) && lastName.touched) ||( lastName.touched && lastName.invalid)" style="color:red;">Prezime mora sadrzati samo slova i ne sme biti prazno</div>
                          <input  pattern="^\d+" name="jmbg" [hidden]="isUpdate" class="form-control" #jmbg="ngModel" type="text" placeholder="JMBG" [(ngModel)]="currentUser.jmbg">
                          <div *ngIf="jmbg.touched && jmbg.value.length!=13" style="color: red">JMBG mora biti dug 13 brojeva.</div>
                          <div class="help-block" *ngIf="(isLetter(jmbg.value) && jmbg.touched) ||( jmbg.touched && jmbg.invalid) || (jmbg.touched && jmbg.value.length<1)" style="color:red;">JMBG mora sadrzati samo brojeve i ne sme biti prazan</div>
                          <input name="adresa" class="form-control" #address="ngModel" type="text" placeholder="Address" [(ngModel)]="currentUser.adresa">
                          <div *ngIf="address.touched && address.value.length<1" style="color: red">adresa ne sme biti prazna.</div>
                          <input name="brojIndexa" [hidden]="isUpdate" class="form-control" #indexNumber="ngModel" type="text" placeholder="Broj Indexa" [(ngModel)]="currentUser.brojIndexa">
                          <div *ngIf="indexNumber.touched && indexNumber.value.length<1" style="color: red">Broj indexa ne sme biti prazan.</div>
                          <input  pattern="^\d+" name="racun" [hidden]="isUpdate" class="form-control" #accountNumber="ngModel" type="text" placeholder="Tekuci racun" [(ngModel)]="currentUser.tekuciRacun">
                          <div *ngIf="accountNumber.touched && accountNumber.value.length!=11" style="color: red">Tekuci Racun mora biti dug 11 brojeva.</div>
                          <div class="help-block" *ngIf="(isLetter(accountNumber.value) && accountNumber.touched) ||( accountNumber.touched && accountNumber.invalid) || (accountNumber.touched && accountNumber.value.length<1)" style="color:red;">Broj racuna mora sadrzati samo brojeve i ne sme biti prazan</div>
                          <input  pattern="^\d+" name="brojTel" class="form-control" #brojtelefona="ngModel" type="text" placeholder="Broj Telefona" [(ngModel)]="currentUser.brojTelefona">
                          <div class="help-block" *ngIf="(isLetter(brojtelefona.value) && brojtelefona.touched) ||( brojtelefona.touched && brojtelefona.invalid) || (brojtelefona.touched && brojtelefona.value.length<1)" style="color:red;">Broj telefona mora sadrzati samo brojeve i ne sme biti prazan</div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn bg-red waves-light" aria-label="Close" (click)="addModal.hide();reset(); form.reset()" mdbWavesEffect>Otkazi</button>
                      <button *ngIf="!isUpdate" type="button" [disabled]="form.invalid || accountNumber.value.length != 11 ||!username.touched || jmbg.value.length!=13 || (address.touched && address.value.length<1)|| (firstName.touched && firstName.value.length<1)|| (lastName.touched && lastName.value.length<1)|| (username.touched && username.value.length<1) || !valid || password.value.length<1 || passwordRepeatInput.value!=password.value" (click)="saveConfirm();addModal.hide();form.reset()" class="btn btn-primary relative waves-light" mdbWavesEffect>Dodaj</button>
                      <button *ngIf="isUpdate" type="button" [disabled]="form.invalid || username==undefined || username.value==null || username.value.length<1 || !valid || firstName==undefined || firstName.value==null || firstName.value.length<1 || lastName==undefined || lastName.value==null || lastName.value.length<1" (click)="saveConfirm();addModal.hide();form.reset()" class="btn btn-primary relative waves-light" mdbWavesEffect>Save</button>
                  </div>
              </div>
          </div>
        </div>

